<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group disabled="false">
    <!-- Default reorder icon, end aligned items -->
    <ion-item *ngFor="let task of tasks; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ task.date }}</ion-card-subtitle>
          <ion-card-title>
            {{ task.task }}
            <ion-button (click)="removeTask(i)" fill="clear" color="danger" size="small" shape="round">
              <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ task.desc }}
        </ion-card-content>
      </ion-card>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
<ion-fab slot="fixed" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>