<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Done
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="sliderOptions">
    <ion-slide>
      <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">

        <ion-card *ngFor="let task of tasks; let i = index">
          <ion-reorder>
            <ion-card-header>
              <ion-card-subtitle>{{ task.date }}</ion-card-subtitle>
              <ion-item lines="none">
                <ion-icon name="create-outline" slot="end" size="small"></ion-icon>
                <ion-label>
                  {{ task.task }}
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-reorder>
          <ion-card-content>
            {{ task.desc }}
          </ion-card-content>
          <ion-item>
            <ion-label>
              Delete Task
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="removeTask(i)" color="danger">
              <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-reorder-group>
    </ion-slide>
    <ion-slide *ngFor="let task of tasks; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ task.date }}</ion-card-subtitle>
          <ion-item lines="none">
            <ion-icon name="create-outline" slot="end" size="small"></ion-icon>
            <ion-label>
              {{ task.task }}
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          {{ task.desc }}
        </ion-card-content>
        <ion-item>
          <ion-label>
            Move to Done!
          </ion-label>
          <ion-button fill="clear" slot="end" (click)="moveTask(i)" color="success">
            <ion-icon size="small" slot="icon-only" name="trophy-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label>
            Delete Task
          </ion-label>
          <ion-button fill="clear" slot="end" (click)="removeTask(i)" color="danger">
            <ion-icon size="small" slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>